/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** HEADER ***********/
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    width: 100%;
}
.header img{
    width: 5%;
}
.header nav {
    padding: 15px;
}

.header nav a {
    padding: 5px 20px;
    position: relative;
}
.header nav a:hover {
    color: var(--main-color);
}
.header nav a:hover::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: -20px;
    border-top: 3px solid var(--main-color);
}

/****** FILTERS ***********/

.search-form{
    width: 50%;
    display: flex;
    margin: 30px 0;
}
.search-form input{
    padding: 12px;
    border-top:1px solid var(--main-bg-color);
    border-bottom:1px solid var(--main-bg-color);
    border-left: none;
    border-right: none;
    margin: 0;
}
button.mobile {
    display: none;
}
button.desktop {
    border:none;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: var(--main-color);
    color: white;
}

.geolocalisation, 
.mobile {
    border:none;
    background: unset;
}

.geolocalisation i, 
.mobile i{
    padding: 15px;
    border:none;
    font-weight: bold;
    font-size: 18px;
    margin: 0;
    align-self: center;
}

.fa-location-dot{
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    background-color: var(--main-bg-color);
    color: black;
}
.fa-magnifying-glass{
    border-radius: 15px;
    background-color: var(--main-color);
    color: white;
}

.search-filters{
    font-weight: bold;
    display: flex;
}
.filters{
    display: flex;
}
.search-filters p{
   font-size: 20px;
  
}
.filter {
    border: 2px solid var(--filter-bg-color);
    border-radius: 25px;
    padding: 8px 10px;
    margin: 0 5px;
}
.filter:hover{
    background-color: var(--filter-bg-color);
}

.filter input[type="radio"] {
    opacity: 0; /*masque le cercle radio*/
    position: absolute;
}

.search p{
    font-size: 12px;
    margin: 10px 15px;
}

/****** Hebergements And Populaires ***********/
.lodgings-and-popular {
    display: flex;
    justify-content: space-between;
}

.lodgings-and-popular section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hébergements ***********/
.lodgings {
    width: 65%;
}
.lodgings-cards{
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 33px;
}

.lodgings-cards.card.card-txt{
   padding: 0 20px;
}

.lodgings-cards a{
  width: 30%;
  height: 40%;
  margin-bottom: 33px;
}

.lodgings-cards img {
    width: 100%;
    height: 120px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.lodgings-cards .card-content {
    padding: 8px 4px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}
.lodgings-cards .card-title {
    margin-top: 8px;
    margin-bottom: 4px;
}
.lodgings-cards .card-subtitle {
    margin: 0;
}
.lodgings-cards .card-rating {
    margin-top: 10px;
}
.lodgings .load-more {
   font-weight: bolder;
   font-size: 20px;
}


/****** Populaires ***********/
.popular {
    width: 32%;
}

.popular-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popular-cards .card {
    display: flex;
    margin-top: 33px;
}

.popular-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.popular-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.popular-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.popular-cards .card-subtitle {
    margin: 0;
}

.popular-cards .card-rating {
    margin-bottom: 5px;
}


/****** Activités ***********/
.activities {
    width: 100%;
    margin-top: 33px;
    height: fit-content;
}

.activities-cards {
    display: flex;
    margin-top: 33px;
    flex-direction: row;
    justify-content: space-between;
}

.activities-cards .card {
    padding: 0;
}
.activities-cards a {
    flex-basis: 20%;
    height: fit-content;
}

.activities-cards img {
    width: 100%;
    height: 310px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.activities-cards .card-content {
    padding: 15px;
}

.activities-cards .card-title {
    margin-top: 4px;
    margin-bottom: 4px;
}

/****** Footer ***********/
.footer {
    background: var(--main-bg-color);
    display: flex;
    justify-content:space-evenly;
    margin-top: 33px;
}

.footer div p {
    font-weight: bold;
    text-transform: capitalize;
}
.footer div ul {
    padding-inline-start: 0;
}
.footer div ul li{
    list-style: none;
    padding-top: 10px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .lodgings-and-popular {
        flex-direction: column;
    }

    .lodgings {
        width: 100%;
    }

    .popular {
        width: 100%;
        margin-top: 50px;
    }

    .popular-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .popular-cards a {
        width: 30%;
    }

    .popular-cards .card-title {
        font-size: 14px;
    }

    .popular-cards .card-subtitle {
        font-size: 13px;
    }
    .activities-cards img {
        width: 100%;
        height: 200px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }
    .activities-cards .card-title {
        font-size: 10px;
    }
    .activities-cards .card-content {
        padding: 10px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    .main-container {
        min-width: 320px;
        padding: 0;
        margin: 10px;
    }
    .header, 
    .banner,
    .search{
        padding: 10px 0;
    }
    .header {
        display: block;
        text-align: center;
    }
    .header img{
        width: 20%;
    }
    .header nav {
        padding: 15px 0;
        display: flex;
    }
    
    .header nav a {
        padding: 5px 20px;
        position: relative;
        width: 50%;
    }
    .header nav a:hover {
        color: var(--main-color);
    }
    .header nav a:hover::before {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 40px;
        border-top: 2px solid var(--main-color);
    }
    button.mobile {
        display: block;
    }
    button.desktop{
        display: none;
    }
    .search-form{
        width: 100%;
        justify-content: center;
    }
    .search-filters{
        display: block;
    }
    .filters{
        flex-wrap: wrap;
    }
    .filter{
        flex-basis: 40%;
        margin: 10px auto;
        text-align: center;
    }
    .lodgings-and-popular section {
        background-color:transparent;
    }
    .lodgings, 
    .popular {
        width: 100%;
    }
    .lodgings-cards,
    .popular-cards,
    .activities-cards{
        display: block;
    }
    .lodgings-cards a{
        width: 30%;
        height: 40%;
        margin-bottom: 33px;
    }
    
    .lodgings-cards img {
        width: 100%;
        height: 120px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }
    .lodgings-cards a{
        margin: 20px auto;
    }
    .lodgings-cards img {
        height: 150px;
    }
    .lodgings-cards .card {
       margin-top: 20px;
    }
    .load-more{
        margin:10px;
    }
   
    .popular{
        background-color: var(--main-bg-color) !important;
        order: -1;
    }
    
    .activities-cards{
        padding: 10px 0;
    }
    .activities-cards .card {
        margin-top: 20px;
    }
    .activities-cards .card-title {
        font-size: 16px;
    }
    .activities-title, .activities-cards {
        width: 85%;
        margin: auto;
    }
    .footer{
        display: block;
        padding: 10px;
    }  
}